<h3>Listing Rooms</h3>
<% if can? :create, Room.new %> 
<%= link_to "Add room",new_room_path %>
<%end%>

<ul>
<% @rooms.each do |room|%>
<li>

	<%= room.name %> -- 
	<% if room.is_available %>Available - 
	<% else %>Not Available - 
	<%end%>
	
	<%= link_to "show",room_path(room)%>

	<% if can? :update, room %>
		<%= link_to "edit",edit_room_path(room) %>
	<%end%>
	
	<% if can? :destroy, room %>
		<%= link_to "destroy" , room_path(room),method: :delete, data:{confirm:"ARE you sure"} %>
	<% end %>
</li>
<%end%>
</ul>




