<div class="jumbotron text-center">
	<h3>Rooms</h3>
	<% if can? :create, Room.new %> 
		<%= link_to "Add room",new_room_path ,class: "btn btn-default"%>
	<%end%>
</div>
<div class="row">
<% @rooms.each do |room|%>
	<div class="col-md-3">
			<div class = "card">
				
				
					<%= link_to image_tag(room.photo.url, height:"200", width:"100%"),room_path(room) , target: "_blank"  %>
				
				
						<div class = "card-padding">
							<p><strong><%= room.name %></strong></p>
							<p>₹<%= room.price %></p> 
							<% if room.is_available %>
							<p>Available</p> 
							<% else %>
							<p>Not Available</p> 
							<%end%>
							
							<%= link_to "See Room" ,room_path(room)%>
							

							<% if can? :update, room %>
								<%= link_to "edit",edit_room_path(room) %>
							<%end%>
							
							<% if can? :destroy, room %>
								<%= link_to "destroy" , room_path(room),method: :delete, data:{confirm:"ARE you sure"} %>
							<% end %>
						</div>
				</div>
			</div>
		<%end%>
</div>

<hr/>





