<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

	<div >
	
		<ol>
			<% @city.locations.each do |location|%>
			<li><%= link_to location.name, location_path(location.id) %></li>
			<%end%>
		</ol>
	</div>

	
		<div class = "row">
		<% @city.rooms.each do |room|%>
			
				<div class = "col-md-3">
					<div class = "card">
						<%= link_to image_tag(room.photo.url, height:"200", width:"100%"),room_path(room) , target: "_blank"  %>
					
						<div class = "card-padding">
							<p><strong><%= room.name %></strong></p>
							<p><strong>Price : </strong> ₹ <%= room.price %></p>
							<p><%= link_to "See Room" ,room_path(room.id) %></p>
						</div>
					</div>
				</div>
		
		<%end%> 
		
	</div>
