<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<div class = "row">
	<div class = "col-md-3">
		<ol>
			<% @city.locations.each do |location|%>
			<li><%= link_to location.name, location_path(location.id) %></li>
			<%end%>
		</ol>
	</div>

	<div class = "col-md-9">
		
		<% @city.rooms.each do |room|%>
		<div class = "thumbnail">
			<div class = "row">
				<div class = "col-md-6">
					<%= image_tag(room.photo.url, height:"150", width:"300") if room.photo  %>
				</div>
				<div class = "col-md-3">
					<div class = "caption">
						<h3><%= room.name %></h3>
						<p><strong>Price : </strong> <%= room.price %></p>
						<p><%= link_to "See Room" ,room_path(room.id) %></p>
					</div>
				</div>
			</div>
		</div>
		<%end%> 
		
	</div>
</div>